/* Login Page Styles */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-field {
  margin-bottom: 1rem;
}

.login-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.5rem;
}

.login-required {
  color: #ef4444;
}

.login-input-container {
  position: relative;
}

.login-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  width: 1.25rem;
  height: 1.25rem;
}

.login-input {
  width: 100%;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #065f46;
  border-radius: 0.75rem;
  background-color: #f9fafb;
  transition: all 0.2s;
}

.login-input:focus {
  outline: none;
  border-color: #065f46;
  box-shadow:#065f46;
  background-color: #ffffff;
}

.login-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-footer {
  text-align: center;
}

.login-footer-text {
  color: #4b5563;
}

.login-link {
  color: #065f46;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.login-link:hover {
  color: rgb(7, 171, 106);
  text-decoration: underline;
}
